body{
    background-color: #F6F8F9;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 auto;
    
}

main{
    font-family: 'Roboto Condensed', sans-serif;
    width: 900px;

}

h2{
    display: inline-block;
    vertical-align: middle;
    font-size: 28px;
    margin-left: 35px;
    margin-bottom: 5px;
}


img{
    vertical-align: middle;
    margin-left: 20px;
}

header{
    background-color: white;
    margin: 0px;
    
   
}

.bottone1{
    color: white;
    background-color: #45ABEA;
    border-color: #45ABEA;
    border-radius: 10%;
}

.bottone2{
    color: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.2); 
    border-radius: 10%;
}

.sez-bottoni{
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 70px;
    border-radius: 50px;
}

h2::before{
    content: '\25BC';
    font-size: 18px;
    margin-right: 10px;
}

.check::before{
    content: '\2713';
    color: #65C1AA;
    width: 5px;
    height: 3px;
    border: 1px solid #65C1AA; 
    border-radius: 50%;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    margin-right: 15px;
    text-align: center;
    vertical-align: middle;
    
    
}

ul{
    list-style-type: none;
}


.negativo::before{
    content: '\10102';
    color: red;
    border: 1px solid red; 
    border-radius: 50%;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 15px;
    
}

.bloccocentr{
    margin-left: 50px;
    margin-top: 2px;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 31px;
    border-radius: 10px;
}


li{
    vertical-align: middle;
    margin-top: 15px;
    margin-bottom: 15px;
}

.azzurro{
    color: white;
    border: 1px solid  #45ABEA; 
    border-radius: 50px;
    background-color:  #45ABEA;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.viola{
    color: white;
    border: 1px solid  #9C72E4; 
    border-radius: 50px;
    background-color:  #9C72E4;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;s
}

.verde-acq{
    color: white;
    border: 1px solid  #65C1AA; 
    border-radius: 50px;
    background-color:  #65C1AA;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;s
    
}

.fucsia{
    color: white;
    border: 1px solid   #D863A1; 
    border-radius: 50px;
    background-color:   #D863A1;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;s

}

.arancione{
    color: white;
    border: 1px solid   #F29E33; 
    border-radius: 50px;
    background-color:   #F29E33;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;s

}

.verde{
    color: white;
    border: 1px solid   #B0C926; 
    border-radius: 50px;
    background-color:   #B0C926;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;s

}