body{
    background-color: #F6F8F9;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 auto;
    
}


h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
}

img{
    vertical-align: middle;
    margin-left: 20px;
}

header{
    background-color: white;
    margin: 0px;
    
   
}

.bottone1{
    color: white;
    background-color: #45ABEA;
    border-color: #45ABEA;
    border-radius: 10%;
}

.bottone2{
    color: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.2); 
    border-radius: 10%;
}

.sez-bottoni{
    margin-left: 50px;
    margin-top: 50px;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 30px;
    border-radius: 10%;
}

h2::before{
    content: '\25BC'
}

li::before{
    content: '\2713'

}

ul{
    list-style-type: none;
}

